@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img,
picture {
  vertical-align: top;
}

picture {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  border-radius: 0;
}

@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: SourceSans;
  font-display: swap;
  src: url("../fonts/SourceSans3-Regular.woff2") format("woff2"), url("../fonts/SourceSans3-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SourceSans;
  font-display: swap;
  src: url("../fonts/SourceSans3-SemiBold.woff2") format("woff2"), url("../fonts/SourceSans3-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
body {
  background-color: #f4f6fa;
  font-family: SourceSans;
  color: #222;
  font-size: 16px;
}
body._lock-scroll {
  overflow: hidden;
}

.cl-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cl-content {
  flex: 1 1 auto;
}

.popup-item {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease 0s;
  padding: 15px;
}

.popup-item._active {
  opacity: 1;
  pointer-events: all;
}

.popup-item__body {
  width: 100%;
  position: relative;
  margin: auto;
  max-width: 400px;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 20;
}

.cl-header {
  font-weight: 600;
  transition: all 0.3s ease 0s;
  backdrop-filter: blur(5px);
  background: rgba(98, 56, 211, 0.05);
}
.cl-header.cl-scroll {
  background: rgba(98, 56, 211, 0.8);
}
.cl-header__logo {
  max-width: 163px;
}
@media (max-width: 768px) {
  .cl-header__logo {
    max-width: 100px;
  }
}
.cl-header__navbar {
  padding: 0;
}
.cl-header__navbar {
  padding-top: 10px;
}
@media (max-width: 1170px) {
  .cl-header__navbar {
    padding-top: calc(5px - -5 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-header__navbar {
    padding-top: 5px;
  }
}
.cl-header__navbar {
  padding-bottom: 10px;
}
@media (max-width: 1170px) {
  .cl-header__navbar {
    padding-bottom: calc(5px - -5 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-header__navbar {
    padding-bottom: 5px;
  }
}
.cl-header__nav {
  row-gap: 10px;
  column-gap: 20px;
}
.cl-header__nav-buttons {
  row-gap: 10px;
  column-gap: 20px;
}
@media (max-width: 576px) {
  .cl-header__nav-buttons {
    width: 100%;
  }
}
.cl-header__have-account {
  font-weight: 600;
}
.cl-header__language {
  position: relative;
}
.cl-header__language select {
  height: 38px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-weight: 600;
  border-radius: 1000px;
  font-size: 16px;
  width: 80px;
  cursor: pointer;
}
.cl-header__language select:focus {
  background: transparent;
  color: #fff;
}
.cl-header__language select option {
  background-color: #6238d3;
  /* фон у выпадающих пунктов */
  color: #fff;
  /* цвет текста */
}
.cl-header__language-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  padding: 2px 3px;
  background: transparent;
  pointer-events: none;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.cl-header__language-controls button {
  color: #9e7cf5;
  background: transparent;
  width: 9px;
  height: 5px;
  display: flex;
}
@media (any-hover: hover) {
  .cl-header__language-controls button {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-header__language-controls button:hover {
    color: #fff;
  }
}

.cl-footer {
  background-color: #d5527d;
  color: #fff;
}
.cl-footer__body {
  row-gap: 20px;
}
.cl-footer__body {
  padding-top: 98px;
}
@media (max-width: 1170px) {
  .cl-footer__body {
    padding-top: calc(40px - -58 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__body {
    padding-top: 40px;
  }
}
.cl-footer__body {
  padding-bottom: 115px;
}
@media (max-width: 1170px) {
  .cl-footer__body {
    padding-bottom: calc(40px - -75 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__body {
    padding-bottom: 40px;
  }
}
@media (max-width: 410px) {
  .cl-footer__col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.cl-footer__logo {
  max-width: 163px;
}
.cl-footer__logo {
  margin-bottom: 42px;
}
@media (max-width: 1170px) {
  .cl-footer__logo {
    margin-bottom: calc(20px - -22 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__logo {
    margin-bottom: 20px;
  }
}
.cl-footer__text {
  font-weight: 600;
  line-height: 125%;
  color: #fff;
}
.cl-footer__text {
  font-size: 16px;
}
@media (max-width: 1170px) {
  .cl-footer__text {
    font-size: calc(12px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__text {
    font-size: 12px;
  }
}
.cl-footer__text:not(:last-child) {
  margin-bottom: 12px;
}
.cl-footer__title {
  font-weight: 600;
  line-height: 100%;
  color: #fff;
}
.cl-footer__title {
  font-size: 24px;
}
@media (max-width: 1170px) {
  .cl-footer__title {
    font-size: calc(20px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__title {
    font-size: 20px;
  }
}
.cl-footer__title {
  margin-bottom: 34px;
}
@media (max-width: 1170px) {
  .cl-footer__title {
    margin-bottom: calc(15px - -19 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__title {
    margin-bottom: 15px;
  }
}
.cl-footer__members {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.cl-footer__members-item {
  display: flex;
  align-items: center;
}
.cl-footer__members-item {
  gap: 13px;
}
@media (max-width: 1170px) {
  .cl-footer__members-item {
    gap: calc(6px - -7 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__members-item {
    gap: 6px;
  }
}
@media (any-hover: hover) {
  .cl-footer__members-item:hover .cl-footer__members-name, .cl-footer__members-item:hover .cl-footer__members-place {
    color: #6238d3;
  }
  .cl-footer__members-item:hover .cl-footer__members-img img {
    transform: scale(1.1);
  }
}
.cl-footer__members-avatar {
  position: relative;
}
.cl-footer__members-avatar::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0ab71f;
}
.cl-footer__members-avatar img {
  width: 100%;
}
.cl-footer__members-avatar img {
  max-width: 50px;
}
@media (max-width: 1170px) {
  .cl-footer__members-avatar img {
    max-width: calc(40px - -10 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__members-avatar img {
    max-width: 40px;
  }
}
.cl-footer__members-avatar-offline::after {
  content: none;
}
.cl-footer__members-img {
  overflow: hidden;
  border-radius: 4px;
}
.cl-footer__members-img img {
  width: 100%;
  transition: all 0.3s ease 0s;
}
.cl-footer__members-img img {
  max-width: 50px;
}
@media (max-width: 1170px) {
  .cl-footer__members-img img {
    max-width: calc(40px - -10 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__members-img img {
    max-width: 40px;
  }
}
.cl-footer__members-name {
  font-weight: 600;
  line-height: 133%;
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.cl-footer__members-name {
  font-size: 18px;
}
@media (max-width: 1170px) {
  .cl-footer__members-name {
    font-size: calc(14px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__members-name {
    font-size: 14px;
  }
}
.cl-footer__members-status {
  font-weight: 600;
  line-height: 150%;
  color: #fff;
}
.cl-footer__members-status {
  font-size: 16px;
}
@media (max-width: 1170px) {
  .cl-footer__members-status {
    font-size: calc(12px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__members-status {
    font-size: 12px;
  }
}
.cl-footer__members-place {
  font-weight: 600;
  line-height: 150%;
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.cl-footer__members-place {
  font-size: 16px;
}
@media (max-width: 1170px) {
  .cl-footer__members-place {
    font-size: calc(12px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__members-place {
    font-size: 12px;
  }
}
.cl-footer__members-date {
  font-weight: 600;
  line-height: 171%;
  color: #fff;
}
.cl-footer__members-date {
  font-size: 14px;
}
@media (max-width: 1170px) {
  .cl-footer__members-date {
    font-size: calc(10px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__members-date {
    font-size: 10px;
  }
}
.cl-footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.cl-footer__contact {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  line-height: 133%;
  color: #fff;
}
.cl-footer__contact {
  font-size: 18px;
}
@media (max-width: 1170px) {
  .cl-footer__contact {
    font-size: calc(14px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__contact {
    font-size: 14px;
  }
}
@media (any-hover: hover) {
  .cl-footer__contact {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-footer__contact:hover {
    color: #6238d3;
  }
}

.cl-attention__body {
  overflow: hidden;
}
.cl-attention__body {
  padding-top: 140px;
}
@media (max-width: 1170px) {
  .cl-attention__body {
    padding-top: calc(80px - -60 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-attention__body {
    padding-top: 80px;
  }
}
.cl-attention__body {
  padding-bottom: 80px;
}
@media (max-width: 1170px) {
  .cl-attention__body {
    padding-bottom: calc(40px - -40 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-attention__body {
    padding-bottom: 40px;
  }
}
.cl-attention__slider {
  overflow: visible;
  position: relative;
}
.cl-attention__add {
  border-radius: 10px;
  overflow: hidden;
}
.cl-attention__add::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(180deg, rgba(244, 109, 154, 0.3) 0%, #d5527d 100%);
}
.cl-attention__add-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  gap: 12px;
}
.cl-attention__add-button {
  border-radius: 50%;
  background: #ffffff;
  color: #ff8cb2;
}
.cl-attention__add-button {
  font-size: 26px;
}
@media (max-width: 1170px) {
  .cl-attention__add-button {
    font-size: calc(18px - -8 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-attention__add-button {
    font-size: 18px;
  }
}
.cl-attention__add-button {
  width: 66px;
}
@media (max-width: 1170px) {
  .cl-attention__add-button {
    width: calc(40px - -26 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-attention__add-button {
    width: 40px;
  }
}
.cl-attention__add-button {
  height: 66px;
}
@media (max-width: 1170px) {
  .cl-attention__add-button {
    height: calc(40px - -26 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-attention__add-button {
    height: 40px;
  }
}
@media (any-hover: hover) {
  .cl-attention__add-button {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-attention__add-button:hover {
    color: #f46d9a;
  }
}
.cl-attention__add-text {
  text-align: center;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #fff;
  left: 0;
  width: 100%;
}
.cl-attention__add-text {
  font-size: 16px;
}
@media (max-width: 1170px) {
  .cl-attention__add-text {
    font-size: calc(14px - -2 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-attention__add-text {
    font-size: 14px;
  }
}
@media (any-hover: hover) {
  .cl-attention__add:hover .cl-attention__add-button {
    color: #f46d9a;
  }
}
.cl-attention__add.cl-attention__add-woman::before {
  background: linear-gradient(180deg, rgba(244, 109, 154, 0.3) 0%, #d5527d 100%);
}
.cl-attention__add.cl-attention__add-woman .cl-attention__add-button {
  color: #ff8cb2;
}
@media (any-hover: hover) {
  .cl-attention__add.cl-attention__add-woman .cl-attention__add-button {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-attention__add.cl-attention__add-woman .cl-attention__add-button:hover {
    color: #f46d9a;
  }
}
@media (any-hover: hover) {
  .cl-attention__add.cl-attention__add-woman:hover .cl-attention__add-button {
    color: #f46d9a;
  }
}
.cl-attention__add.cl-attention__add-man::before {
  background: linear-gradient(180deg, rgba(44, 121, 227, 0.3) 0%, rgb(44, 121, 227) 100%);
}
.cl-attention__add.cl-attention__add-man .cl-attention__add-button {
  color: #2c79e3;
}
@media (any-hover: hover) {
  .cl-attention__add.cl-attention__add-man .cl-attention__add-button {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-attention__add.cl-attention__add-man .cl-attention__add-button:hover {
    color: #165bbd;
  }
}
@media (any-hover: hover) {
  .cl-attention__add.cl-attention__add-man:hover .cl-attention__add-button {
    color: #165bbd;
  }
}
.cl-attention__card {
  position: relative;
  z-index: 0;
}
.cl-attention__card picture {
  width: 100%;
}
.cl-attention__card-img {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
}
.cl-attention__card-play {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(217, 217, 217, 0.55);
  color: #909093;
  z-index: 1;
}
@media (any-hover: hover) {
  .cl-attention__card-play {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-attention__card-play:hover {
    color: #f46d9a;
  }
}
@media (any-hover: hover) {
  .cl-attention__card {
    cursor: pointer;
  }
  .cl-attention__card:hover .cl-attention__desc {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
}
.cl-attention__card.cl-attention__card-online .cl-attention__info-name::before {
  background-color: #0ab71f;
}
.cl-attention__info {
  position: absolute;
  width: 100%;
  height: 43%;
  bottom: 0;
  left: 0;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(180deg, rgba(172, 172, 172, 0) 0%, #4c4c4c 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: flex-end;
}
.cl-attention__info {
  padding-right: 12px;
}
@media (max-width: 1170px) {
  .cl-attention__info {
    padding-right: calc(6px - -6 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-attention__info {
    padding-right: 6px;
  }
}
.cl-attention__info {
  padding-left: 12px;
}
@media (max-width: 1170px) {
  .cl-attention__info {
    padding-left: calc(6px - -6 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-attention__info {
    padding-left: 6px;
  }
}
.cl-attention__info {
  padding-bottom: 9px;
}
@media (max-width: 1170px) {
  .cl-attention__info {
    padding-bottom: calc(6px - -3 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-attention__info {
    padding-bottom: 6px;
  }
}
.cl-attention__info-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cl-attention__info-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 4px;
}
.cl-attention__info-name::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
}
.cl-attention__info-icons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.cl-attention__info-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.cl-attention__info-verf {
  background-color: #2c79e3;
}
.cl-attention__info-star {
  background-color: #fd9644;
}
.cl-attention__info-country {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #fff;
}
.cl-attention__desc {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -10%;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  margin: 0;
  pointer-events: none;
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.3s ease 0s;
  z-index: 10;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #3e3c49;
}
.cl-attention__prev, .cl-attention__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 2;
  display: flex;
  align-items: center;
  background: transparent;
}
.cl-attention__prev, .cl-attention__next {
  font-size: 40px;
}
@media (max-width: 1170px) {
  .cl-attention__prev, .cl-attention__next {
    font-size: calc(30px - -10 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-attention__prev, .cl-attention__next {
    font-size: 30px;
  }
}
@media (any-hover: hover) {
  .cl-attention__prev, .cl-attention__next {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-attention__prev:hover, .cl-attention__next:hover {
    color: #f46d9a;
  }
}
.cl-attention__prev {
  left: 0;
}
.cl-attention__next {
  right: 0;
}
.cl-attention__popup {
  user-select: none;
}
.cl-attention__popup-body {
  max-width: 538px;
}
@media (max-width: 992px) {
  .cl-attention__popup-body {
    max-width: 400px;
  }
}
.cl-attention__popup .swiper-slide {
  pointer-events: none;
}
.cl-attention__popup._active .swiper-slide {
  pointer-events: auto;
}
.cl-attention__popup-slider {
  width: 100%;
}
.cl-attention__popup-card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
}
.cl-attention__popup-card picture {
  width: 100%;
}
.cl-attention__popup-card-img {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
}
@media (any-hover: hover) {
  .cl-attention__popup-card {
    cursor: pointer;
  }
  .cl-attention__popup-card:hover .cl-attention__desc {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
}
.cl-attention__popup-info {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(180deg, rgba(172, 172, 172, 0) 0%, #4c4c4c 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 3;
}
.cl-attention__popup-info {
  padding: 30px;
}
@media (max-width: 1170px) {
  .cl-attention__popup-info {
    padding: calc(10px - -20 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-attention__popup-info {
    padding: 10px;
  }
}
.cl-attention__popup-info-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cl-attention__popup-info-name-country {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: #fff;
}
.cl-attention__popup-info-country {
  font-weight: 400;
}
.cl-attention__popup-info-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cl-attention__popup-info-icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.cl-attention__popup-info-verf {
  background-color: #2c79e3;
}
.cl-attention__popup-info-star {
  background-color: #fd9644;
}
.cl-attention__popup-pag {
  display: flex;
}
.cl-attention__popup-pag {
  margin-bottom: 15px;
}
@media (max-width: 1170px) {
  .cl-attention__popup-pag {
    margin-bottom: calc(8px - -7 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-attention__popup-pag {
    margin-bottom: 8px;
  }
}
.cl-attention__popup-pag .swiper-pagination-bullet {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  height: 5px;
  transition: all 0.3s ease 0s;
}
.cl-attention__popup-pag .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}
.cl-attention__popup-nav {
  position: absolute;
  z-index: 1;
  color: #4c4c4c;
  background: #ccc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.cl-attention__popup-nav {
  width: 40px;
}
@media (max-width: 1170px) {
  .cl-attention__popup-nav {
    width: calc(30px - -10 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-attention__popup-nav {
    width: 30px;
  }
}
.cl-attention__popup-nav {
  height: 40px;
}
@media (max-width: 1170px) {
  .cl-attention__popup-nav {
    height: calc(30px - -10 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-attention__popup-nav {
    height: 30px;
  }
}
.cl-attention__popup-nav {
  font-size: 20px;
}
@media (max-width: 1170px) {
  .cl-attention__popup-nav {
    font-size: calc(15px - -5 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-attention__popup-nav {
    font-size: 15px;
  }
}
@media (any-hover: hover) {
  .cl-attention__popup-nav {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-attention__popup-nav:hover {
    color: #000;
    background: #fff;
  }
}
.cl-attention__popup-nav.swiper-button-disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}
.cl-attention__popup-prev {
  left: 0%;
  transform: translate(-150%, -50%);
}
@media (max-width: 567px) {
  .cl-attention__popup-prev {
    left: 2%;
    transform: translate(0%, -50%);
  }
}
.cl-attention__popup-next {
  right: 0%;
  transform: translate(150%, -50%);
}
@media (max-width: 567px) {
  .cl-attention__popup-next {
    right: 2%;
    transform: translate(0%, -50%);
  }
}
.cl-attention__popup-actions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 25px;
  font-size: 24px;
  position: relative;
}
.cl-attention__popup-actions {
  gap: 25px;
}
@media (max-width: 1170px) {
  .cl-attention__popup-actions {
    gap: calc(15px - -10 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-attention__popup-actions {
    gap: 15px;
  }
}
.cl-attention__popup .popup-close {
  position: static;
}
.cl-attention__popup-button {
  position: relative;
  z-index: 2;
  color: #fff;
  background: transparent;
}
@media (any-hover: hover) {
  .cl-attention__popup-button {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-attention__popup-button:hover {
    color: #f46d9a;
  }
}
.cl-attention__popup-volume[data-status=on] .volume {
  display: block;
}
.cl-attention__popup-volume[data-status=on] .not-volume {
  display: none;
}
.cl-attention__popup-volume[data-status=off] .volume {
  display: none;
}
.cl-attention__popup-volume[data-status=off] .not-volume {
  display: block;
}
.cl-attention__popup-main {
  flex: 1 1 auto;
}
.cl-attention__popup-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #fff;
}
.cl-attention__popup-desc {
  margin-bottom: 44px;
}
@media (max-width: 1170px) {
  .cl-attention__popup-desc {
    margin-bottom: calc(20px - -24 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-attention__popup-desc {
    margin-bottom: 20px;
  }
}
.cl-attention__popup-like {
  color: #586774;
  font-size: 27px;
  padding: 5.5px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (any-hover: hover) {
  .cl-attention__popup-like {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-attention__popup-like:hover {
    color: #f46d9a;
  }
}
.cl-attention__popup-like:active {
  background-color: #ff8cb2;
  color: #fff;
}
.cl-attention__popup button {
  position: relative;
  z-index: 2;
}

.cl-page {
  flex: 1 1 auto;
}