@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img,
picture {
  vertical-align: top;
}

picture {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  border-radius: 0;
}

@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: SourceSans;
  font-display: swap;
  src: url("../fonts/SourceSans3-Regular.woff2") format("woff2"), url("../fonts/SourceSans3-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SourceSans;
  font-display: swap;
  src: url("../fonts/SourceSans3-SemiBold.woff2") format("woff2"), url("../fonts/SourceSans3-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
body {
  background-color: #f4f6fa;
  font-family: SourceSans;
  color: #222;
  font-size: 16px;
}
body._lock-scroll {
  overflow: hidden;
}

.cl-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cl-content {
  flex: 1 1 auto;
}

.cl-header {
  font-weight: 600;
  transition: all 0.3s ease 0s;
  backdrop-filter: blur(5px);
  background: rgba(98, 56, 211, 0.05);
}
.cl-header.cl-scroll {
  background: rgba(98, 56, 211, 0.8);
}
.cl-header__logo {
  max-width: 163px;
}
@media (max-width: 768px) {
  .cl-header__logo {
    max-width: 100px;
  }
}
.cl-header__navbar {
  padding: 0;
}
.cl-header__navbar {
  padding-top: 10px;
}
@media (max-width: 1170px) {
  .cl-header__navbar {
    padding-top: calc(5px - -5 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-header__navbar {
    padding-top: 5px;
  }
}
.cl-header__navbar {
  padding-bottom: 10px;
}
@media (max-width: 1170px) {
  .cl-header__navbar {
    padding-bottom: calc(5px - -5 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-header__navbar {
    padding-bottom: 5px;
  }
}
.cl-header__nav {
  row-gap: 10px;
  column-gap: 20px;
}
.cl-header__nav-buttons {
  row-gap: 10px;
  column-gap: 20px;
}
@media (max-width: 576px) {
  .cl-header__nav-buttons {
    width: 100%;
  }
}
.cl-header__have-account {
  font-weight: 600;
}
.cl-header__language {
  position: relative;
}
.cl-header__language select {
  height: 38px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-weight: 600;
  border-radius: 1000px;
  font-size: 16px;
  width: 80px;
  cursor: pointer;
}
.cl-header__language select:focus {
  background: transparent;
  color: #fff;
}
.cl-header__language select option {
  background-color: #6238d3;
  /* фон у выпадающих пунктов */
  color: #fff;
  /* цвет текста */
}
.cl-header__language-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  padding: 2px 3px;
  background: transparent;
  pointer-events: none;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.cl-header__language-controls button {
  color: #9e7cf5;
  background: transparent;
  width: 9px;
  height: 5px;
  display: flex;
}
@media (any-hover: hover) {
  .cl-header__language-controls button {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-header__language-controls button:hover {
    color: #fff;
  }
}

.cl-footer {
  background-color: #d5527d;
  color: #fff;
}
.cl-footer__body {
  row-gap: 20px;
}
.cl-footer__body {
  padding-top: 98px;
}
@media (max-width: 1170px) {
  .cl-footer__body {
    padding-top: calc(40px - -58 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__body {
    padding-top: 40px;
  }
}
.cl-footer__body {
  padding-bottom: 115px;
}
@media (max-width: 1170px) {
  .cl-footer__body {
    padding-bottom: calc(40px - -75 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__body {
    padding-bottom: 40px;
  }
}
@media (max-width: 410px) {
  .cl-footer__col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.cl-footer__logo {
  max-width: 163px;
}
.cl-footer__logo {
  margin-bottom: 42px;
}
@media (max-width: 1170px) {
  .cl-footer__logo {
    margin-bottom: calc(20px - -22 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__logo {
    margin-bottom: 20px;
  }
}
.cl-footer__text {
  font-weight: 600;
  line-height: 125%;
  color: #fff;
}
.cl-footer__text {
  font-size: 16px;
}
@media (max-width: 1170px) {
  .cl-footer__text {
    font-size: calc(12px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__text {
    font-size: 12px;
  }
}
.cl-footer__text:not(:last-child) {
  margin-bottom: 12px;
}
.cl-footer__title {
  font-weight: 600;
  line-height: 100%;
  color: #fff;
}
.cl-footer__title {
  font-size: 24px;
}
@media (max-width: 1170px) {
  .cl-footer__title {
    font-size: calc(20px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__title {
    font-size: 20px;
  }
}
.cl-footer__title {
  margin-bottom: 34px;
}
@media (max-width: 1170px) {
  .cl-footer__title {
    margin-bottom: calc(15px - -19 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__title {
    margin-bottom: 15px;
  }
}
.cl-footer__members {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.cl-footer__members-item {
  display: flex;
  align-items: center;
}
.cl-footer__members-item {
  gap: 13px;
}
@media (max-width: 1170px) {
  .cl-footer__members-item {
    gap: calc(6px - -7 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__members-item {
    gap: 6px;
  }
}
@media (any-hover: hover) {
  .cl-footer__members-item:hover .cl-footer__members-name, .cl-footer__members-item:hover .cl-footer__members-place {
    color: #6238d3;
  }
  .cl-footer__members-item:hover .cl-footer__members-img img {
    transform: scale(1.1);
  }
}
.cl-footer__members-avatar {
  position: relative;
}
.cl-footer__members-avatar::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0ab71f;
}
.cl-footer__members-avatar img {
  width: 100%;
}
.cl-footer__members-avatar img {
  max-width: 50px;
}
@media (max-width: 1170px) {
  .cl-footer__members-avatar img {
    max-width: calc(40px - -10 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__members-avatar img {
    max-width: 40px;
  }
}
.cl-footer__members-avatar-offline::after {
  content: none;
}
.cl-footer__members-img {
  overflow: hidden;
  border-radius: 4px;
}
.cl-footer__members-img img {
  width: 100%;
  transition: all 0.3s ease 0s;
}
.cl-footer__members-img img {
  max-width: 50px;
}
@media (max-width: 1170px) {
  .cl-footer__members-img img {
    max-width: calc(40px - -10 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__members-img img {
    max-width: 40px;
  }
}
.cl-footer__members-name {
  font-weight: 600;
  line-height: 133%;
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.cl-footer__members-name {
  font-size: 18px;
}
@media (max-width: 1170px) {
  .cl-footer__members-name {
    font-size: calc(14px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__members-name {
    font-size: 14px;
  }
}
.cl-footer__members-status {
  font-weight: 600;
  line-height: 150%;
  color: #fff;
}
.cl-footer__members-status {
  font-size: 16px;
}
@media (max-width: 1170px) {
  .cl-footer__members-status {
    font-size: calc(12px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__members-status {
    font-size: 12px;
  }
}
.cl-footer__members-place {
  font-weight: 600;
  line-height: 150%;
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.cl-footer__members-place {
  font-size: 16px;
}
@media (max-width: 1170px) {
  .cl-footer__members-place {
    font-size: calc(12px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__members-place {
    font-size: 12px;
  }
}
.cl-footer__members-date {
  font-weight: 600;
  line-height: 171%;
  color: #fff;
}
.cl-footer__members-date {
  font-size: 14px;
}
@media (max-width: 1170px) {
  .cl-footer__members-date {
    font-size: calc(10px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__members-date {
    font-size: 10px;
  }
}
.cl-footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.cl-footer__contact {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  line-height: 133%;
  color: #fff;
}
.cl-footer__contact {
  font-size: 18px;
}
@media (max-width: 1170px) {
  .cl-footer__contact {
    font-size: calc(14px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-footer__contact {
    font-size: 14px;
  }
}
@media (any-hover: hover) {
  .cl-footer__contact {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-footer__contact:hover {
    color: #6238d3;
  }
}

.cl-hero {
  background: linear-gradient(180deg, #5a2fd0 0%, #784dba 100%);
}
.cl-hero__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
}
.cl-hero__body {
  padding-top: 140px;
}
@media (max-width: 1170px) {
  .cl-hero__body {
    padding-top: calc(80px - -60 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__body {
    padding-top: 80px;
  }
}
.cl-hero__title {
  line-height: 100%;
}
.cl-hero__title {
  font-size: 48px;
}
@media (max-width: 1170px) {
  .cl-hero__title {
    font-size: calc(22px - -26 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__title {
    font-size: 22px;
  }
}
.cl-hero__title {
  margin-bottom: 53px;
}
@media (max-width: 1170px) {
  .cl-hero__title {
    margin-bottom: calc(32px - -21 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__title {
    margin-bottom: 32px;
  }
}
.cl-hero__title .text-pink {
  color: #f46d9a;
}
.cl-hero__title .text-small {
  font-size: 32px;
}
@media (max-width: 1170px) {
  .cl-hero__title .text-small {
    font-size: calc(14px - -18 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__title .text-small {
    font-size: 14px;
  }
}
.cl-hero__map {
  max-width: 100%;
  margin-bottom: 38px;
  position: relative;
}
.cl-hero__map img {
  width: 100%;
}
.cl-hero__point {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.cl-hero__point-imgs {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 50px;
  height: 50px;
}
.cl-hero__point-imgs .cl-card {
  position: absolute;
  z-index: 0;
  transition: all 0.3s ease 0s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cl-hero__point-imgs .cl-card:nth-child(1) {
  z-index: 3;
}
.cl-hero__point-imgs .cl-card:nth-child(2) {
  z-index: 2;
  transform: translate(0%, -50%);
}
.cl-hero__point-imgs .cl-card:nth-child(3) {
  z-index: 1;
  transform: translate(50%, -50%);
}
.cl-hero__point-imgs .cl-card img {
  width: 50px;
  border-radius: 50%;
}
.cl-hero__point-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
.cl-hero__point-dot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  filter: blur(1px);
  background: rgba(255, 248, 248, 0.2);
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .cl-hero__point {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-hero__point:hover ::before {
    opacity: 1;
  }
}
.cl-hero__point:nth-child(1) {
  top: 35%;
  left: 16%;
}
.cl-hero__point:nth-child(2) {
  top: 25%;
  left: 51.5%;
}
.cl-hero__point:nth-child(3) {
  top: 39%;
  right: 29%;
}
.cl-hero__point:nth-child(4) {
  top: 37%;
  right: 13%;
}
.cl-hero__point:nth-child(5) {
  bottom: 23%;
  right: 16%;
}
.cl-hero__point:nth-child(6) {
  bottom: 42%;
  right: 47%;
}
.cl-hero__point-window {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease 0s;
  z-index: 10;
}
.cl-hero__point-window {
  padding: 12px;
}
@media (max-width: 1170px) {
  .cl-hero__point-window {
    padding: calc(8px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__point-window {
    padding: 8px;
  }
}
.cl-hero__point-window {
  border-radius: 15px;
}
@media (max-width: 1170px) {
  .cl-hero__point-window {
    border-radius: calc(10px - -5 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__point-window {
    border-radius: 10px;
  }
}
.cl-hero__point-window {
  gap: 4.5px;
}
@media (max-width: 1170px) {
  .cl-hero__point-window {
    gap: calc(3px - -1.5 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__point-window {
    gap: 3px;
  }
}
.cl-hero__point-window {
  min-width: 252px;
}
@media (max-width: 1170px) {
  .cl-hero__point-window {
    min-width: calc(168px - -84 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__point-window {
    min-width: 168px;
  }
}
.cl-hero__point-window.active {
  opacity: 1;
  pointer-events: all;
}
.cl-hero__point-window img {
  width: 100%;
}
.cl-hero__point-window img {
  max-width: 75px;
}
@media (max-width: 1170px) {
  .cl-hero__point-window img {
    max-width: calc(50px - -25 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__point-window img {
    max-width: 50px;
  }
}
.cl-hero__point-window-slider {
  display: flex;
  align-items: center;
  gap: 4px;
}
.cl-hero__point-window-top {
  display: flex;
  align-items: center;
}
.cl-hero__point-window-top {
  gap: 4px;
}
@media (max-width: 1170px) {
  .cl-hero__point-window-top {
    gap: calc(2px - -2 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__point-window-top {
    gap: 2px;
  }
}
.cl-hero__point-window-info {
  display: flex;
  flex-direction: column;
}
.cl-hero__point-window-name {
  font-weight: 600;
  color: #4e5e72;
}
.cl-hero__point-window-name {
  font-size: 18px;
}
@media (max-width: 1170px) {
  .cl-hero__point-window-name {
    font-size: calc(12px - -6 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__point-window-name {
    font-size: 12px;
  }
}
.cl-hero__point-window-country {
  font-weight: 400;
  color: #4e5e72;
  white-space: nowrap;
}
.cl-hero__point-window-country {
  font-size: 15px;
}
@media (max-width: 1170px) {
  .cl-hero__point-window-country {
    font-size: calc(10px - -5 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__point-window-country {
    font-size: 10px;
  }
}
.cl-hero__point-window-nav {
  display: flex;
  align-items: center;
}
.cl-hero__point-window-nav {
  gap: 15px;
}
@media (max-width: 1170px) {
  .cl-hero__point-window-nav {
    gap: calc(10px - -5 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__point-window-nav {
    gap: 10px;
  }
}
.cl-hero__point-window-nav {
  margin-top: 6px;
}
@media (max-width: 1170px) {
  .cl-hero__point-window-nav {
    margin-top: calc(4px - -2 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__point-window-nav {
    margin-top: 4px;
  }
}
.cl-hero__point-window-nav-btn {
  background: transparent;
  color: #d9d9d9;
}
.cl-hero__point-window-nav-btn {
  font-size: 21px;
}
@media (max-width: 1170px) {
  .cl-hero__point-window-nav-btn {
    font-size: calc(14px - -7 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__point-window-nav-btn {
    font-size: 14px;
  }
}
@media (any-hover: hover) {
  .cl-hero__point-window-nav-btn {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-hero__point-window-nav-btn:hover {
    color: #f46d9a;
  }
}
.cl-hero__point-window-button {
  font-family: var(--second-family);
  font-weight: 600;
  color: #fff;
  padding: 0;
}
.cl-hero__point-window-button {
  font-size: 18px;
}
@media (max-width: 1170px) {
  .cl-hero__point-window-button {
    font-size: calc(12px - -6 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__point-window-button {
    font-size: 12px;
  }
}
.cl-hero__point-window-button {
  height: 28.5px;
}
@media (max-width: 1170px) {
  .cl-hero__point-window-button {
    height: calc(19px - -9.5 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__point-window-button {
    height: 19px;
  }
}
.cl-hero__form {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: -6%;
}
.cl-hero__form {
  padding-top: 32px;
}
@media (max-width: 1170px) {
  .cl-hero__form {
    padding-top: calc(16px - -16 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__form {
    padding-top: 16px;
  }
}
.cl-hero__form {
  padding-bottom: 32px;
}
@media (max-width: 1170px) {
  .cl-hero__form {
    padding-bottom: calc(16px - -16 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__form {
    padding-bottom: 16px;
  }
}
.cl-hero__form {
  padding-left: 42px;
}
@media (max-width: 1170px) {
  .cl-hero__form {
    padding-left: calc(21px - -21 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__form {
    padding-left: 21px;
  }
}
.cl-hero__form {
  padding-right: 42px;
}
@media (max-width: 1170px) {
  .cl-hero__form {
    padding-right: calc(21px - -21 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__form {
    padding-right: 21px;
  }
}
.cl-hero__form {
  row-gap: 22.75px;
}
@media (max-width: 1170px) {
  .cl-hero__form {
    row-gap: calc(12px - -10.75 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__form {
    row-gap: 12px;
  }
}
.cl-hero__label {
  margin-bottom: 8px;
  font-family: Helvetica;
  font-weight: 400;
  line-height: 133%;
  color: #9aa0ac;
}
.cl-hero__label {
  font-size: 18px;
}
@media (max-width: 1170px) {
  .cl-hero__label {
    font-size: calc(14px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__label {
    font-size: 14px;
  }
}
.cl-hero__gender-icon {
  color: #4e5e72;
  transition: all 0.3s ease 0s;
}
.cl-hero__input {
  padding: 10.5px 8px;
  color: #9aa0ac;
  border-radius: 4px;
  min-height: 38px;
  line-height: 14px;
}
.cl-hero__input {
  font-size: 18px;
}
@media (max-width: 1170px) {
  .cl-hero__input {
    font-size: calc(16px - -2 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-hero__input {
    font-size: 16px;
  }
}
.cl-hero__input:focus {
  color: #9aa0ac;
}
.cl-hero__input:not(:hover) {
  background: none;
}
.cl-hero__btn {
  min-height: 38px;
}
@media (max-width: 768px) {
  .cl-hero__point-imgs {
    width: 30px;
    height: 30px;
  }
  .cl-hero__point-imgs .cl-card img {
    width: 30px;
  }
  .cl-hero__point-window img {
    width: 40px;
    height: 40px;
  }
  .cl-hero__form {
    margin-bottom: -30%;
  }
}

.cl-members__body {
  padding-top: 163px;
}
@media (max-width: 1170px) {
  .cl-members__body {
    padding-top: calc(180px - 17 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__body {
    padding-top: 180px;
  }
}
.cl-members__body {
  padding-bottom: 98px;
}
@media (max-width: 1170px) {
  .cl-members__body {
    padding-bottom: calc(50px - -48 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__body {
    padding-bottom: 50px;
  }
}
.cl-members__title {
  font-weight: 600;
  line-height: 150%;
  text-transform: capitalize;
  color: #4e5e72;
}
.cl-members__title {
  font-size: 40px;
}
@media (max-width: 1170px) {
  .cl-members__title {
    font-size: calc(25px - -15 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__title {
    font-size: 25px;
  }
}
.cl-members__title {
  margin-bottom: 24px;
}
@media (max-width: 1170px) {
  .cl-members__title {
    margin-bottom: calc(16px - -8 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__title {
    margin-bottom: 16px;
  }
}
.cl-members__desc {
  font-weight: 400;
  line-height: 155%;
  color: #4e5e72;
}
.cl-members__desc {
  font-size: 20px;
}
@media (max-width: 1170px) {
  .cl-members__desc {
    font-size: calc(16px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__desc {
    font-size: 16px;
  }
}
.cl-members__desc {
  margin-bottom: 44px;
}
@media (max-width: 1170px) {
  .cl-members__desc {
    margin-bottom: calc(20px - -24 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__desc {
    margin-bottom: 20px;
  }
}
.cl-members__nav {
  gap: 24px;
}
@media (max-width: 1170px) {
  .cl-members__nav {
    gap: calc(6px - -18 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__nav {
    gap: 6px;
  }
}
.cl-members__nav {
  margin-bottom: 50px;
}
@media (max-width: 1170px) {
  .cl-members__nav {
    margin-bottom: calc(20px - -30 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__nav {
    margin-bottom: 20px;
  }
}
.cl-members__nav-btn {
  width: 100%;
  max-width: 140px;
  min-height: 38px;
}
.cl-members__nav-btn {
  padding-top: 5.2px;
}
@media (max-width: 1170px) {
  .cl-members__nav-btn {
    padding-top: calc(4px - -1.2 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__nav-btn {
    padding-top: 4px;
  }
}
.cl-members__nav-btn {
  padding-bottom: 5.2px;
}
@media (max-width: 1170px) {
  .cl-members__nav-btn {
    padding-bottom: calc(4px - -1.2 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__nav-btn {
    padding-bottom: 4px;
  }
}
.cl-members__nav-btn {
  padding-left: 10.5px;
}
@media (max-width: 1170px) {
  .cl-members__nav-btn {
    padding-left: calc(7px - -3.5 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__nav-btn {
    padding-left: 7px;
  }
}
.cl-members__nav-btn {
  padding-right: 10.5px;
}
@media (max-width: 1170px) {
  .cl-members__nav-btn {
    padding-right: calc(7px - -3.5 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__nav-btn {
    padding-right: 7px;
  }
}
@media (max-width: 440px) {
  .cl-members__nav-btn {
    width: auto;
  }
}
.cl-members__grid {
  display: none;
  width: 100%;
}
.cl-members__grid {
  row-gap: 24px;
}
@media (max-width: 1170px) {
  .cl-members__grid {
    row-gap: calc(12px - -12 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__grid {
    row-gap: 12px;
  }
}
.cl-members__grid {
  margin-bottom: 50px;
}
@media (max-width: 1170px) {
  .cl-members__grid {
    margin-bottom: calc(20px - -30 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__grid {
    margin-bottom: 20px;
  }
}
.cl-members__grid.active {
  display: flex;
}
.cl-members__card-body {
  padding-left: 12px;
}
@media (max-width: 1170px) {
  .cl-members__card-body {
    padding-left: calc(6px - -6 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__card-body {
    padding-left: 6px;
  }
}
.cl-members__card-body {
  padding-right: 12px;
}
@media (max-width: 1170px) {
  .cl-members__card-body {
    padding-right: calc(6px - -6 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__card-body {
    padding-right: 6px;
  }
}
@media (max-width: 375px) {
  .cl-members__card-body {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.cl-members__card {
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.15);
}
.cl-members__card img {
  width: 100%;
  transition: all 0.3s ease 0s;
}
.cl-members__card-info {
  position: relative;
  background: #fff;
  z-index: 1;
}
.cl-members__card-info {
  padding-top: 18px;
}
@media (max-width: 1170px) {
  .cl-members__card-info {
    padding-top: calc(14px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__card-info {
    padding-top: 14px;
  }
}
.cl-members__card-info {
  padding-bottom: 18px;
}
@media (max-width: 1170px) {
  .cl-members__card-info {
    padding-bottom: calc(14px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__card-info {
    padding-bottom: 14px;
  }
}
.cl-members__card-info {
  padding-left: 26px;
}
@media (max-width: 1170px) {
  .cl-members__card-info {
    padding-left: calc(20px - -6 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__card-info {
    padding-left: 20px;
  }
}
.cl-members__card-info {
  padding-right: 26px;
}
@media (max-width: 1170px) {
  .cl-members__card-info {
    padding-right: calc(20px - -6 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__card-info {
    padding-right: 20px;
  }
}
.cl-members__card-title {
  font-weight: 600;
  line-height: 100%;
  color: #4e5e72;
  position: relative;
}
.cl-members__card-title {
  font-size: 24px;
}
@media (max-width: 1170px) {
  .cl-members__card-title {
    font-size: calc(18px - -6 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__card-title {
    font-size: 18px;
  }
}
@media (any-hover: hover) {
  .cl-members__card-title {
    cursor: pointer;
  }
  .cl-members__card-title:hover {
    color: #2c79e3;
    text-decoration: underline;
  }
}
.cl-members__card-age {
  line-height: 109%;
}
.cl-members__card-age {
  font-size: 22px;
}
@media (max-width: 1170px) {
  .cl-members__card-age {
    font-size: calc(18px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__card-age {
    font-size: 18px;
  }
}
.cl-members__card-star {
  margin-left: 11px;
}
@media (max-width: 1170px) {
  .cl-members__card-star {
    margin-left: calc(5px - -6 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__card-star {
    margin-left: 5px;
  }
}
.cl-members__card-country {
  font-weight: 400;
  line-height: 141%;
  color: #4e5e72;
}
.cl-members__card-country {
  font-size: 17px;
}
@media (max-width: 1170px) {
  .cl-members__card-country {
    font-size: calc(14px - -3 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__card-country {
    font-size: 14px;
  }
}
.cl-members__card-country {
  margin-top: 16px;
}
@media (max-width: 1170px) {
  .cl-members__card-country {
    margin-top: calc(12px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-members__card-country {
    margin-top: 12px;
  }
}
.cl-members__card-dot {
  background: #0ab71f;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
@media (any-hover: hover) {
  .cl-members__card {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-members__card:hover img {
    transform: scale(1.2);
  }
}
.cl-members__btn-all {
  min-height: 44px;
  max-width: 275px;
}

.cl-choose__body {
  padding-top: 83px;
}
@media (max-width: 1170px) {
  .cl-choose__body {
    padding-top: calc(40px - -43 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-choose__body {
    padding-top: 40px;
  }
}
.cl-choose__body {
  padding-bottom: 96px;
}
@media (max-width: 1170px) {
  .cl-choose__body {
    padding-bottom: calc(50px - -46 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-choose__body {
    padding-bottom: 50px;
  }
}
.cl-choose__decor * {
  position: absolute;
}
.cl-choose__decor-1 {
  border-radius: 100%;
  background-color: #f5fdff;
  filter: blur(50px);
  width: 540px;
  height: 512px;
  top: 25%;
  left: -35%;
}
.cl-choose__decor-2 {
  border-radius: 100%;
  background-color: rgba(255, 165, 38, 0.09);
  filter: blur(50px);
  width: 502px;
  height: 476px;
  top: -25%;
  left: 30%;
}
.cl-choose__decor-3 {
  border-radius: 100%;
  background-color: rgba(228, 244, 223, 0.71);
  filter: blur(50px);
  width: 616px;
  height: 464px;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}
.cl-choose__decor-4 {
  border-radius: 100%;
  background-color: rgba(244, 109, 154, 0.16);
  filter: blur(50px);
  width: 616px;
  height: 464px;
  top: -15%;
  right: -40%;
}
.cl-choose__title {
  font-weight: 600;
  line-height: 150%;
  text-transform: capitalize;
  color: #4e5e72;
}
.cl-choose__title {
  font-size: 40px;
}
@media (max-width: 1170px) {
  .cl-choose__title {
    font-size: calc(25px - -15 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-choose__title {
    font-size: 25px;
  }
}
.cl-choose__title {
  margin-bottom: 24px;
}
@media (max-width: 1170px) {
  .cl-choose__title {
    margin-bottom: calc(16px - -8 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-choose__title {
    margin-bottom: 16px;
  }
}
.cl-choose__desc {
  font-weight: 400;
  line-height: 155%;
  color: #4e5e72;
}
.cl-choose__desc {
  font-size: 20px;
}
@media (max-width: 1170px) {
  .cl-choose__desc {
    font-size: calc(16px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-choose__desc {
    font-size: 16px;
  }
}
.cl-choose__desc {
  margin-bottom: 44px;
}
@media (max-width: 1170px) {
  .cl-choose__desc {
    margin-bottom: calc(20px - -24 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-choose__desc {
    margin-bottom: 20px;
  }
}
.cl-choose__grid {
  row-gap: 12px;
}
.cl-choose__card {
  background-color: #fff;
}
.cl-choose__card {
  padding-top: 60px;
}
@media (max-width: 1170px) {
  .cl-choose__card {
    padding-top: calc(20px - -40 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-choose__card {
    padding-top: 20px;
  }
}
.cl-choose__card {
  padding-bottom: 65px;
}
@media (max-width: 1170px) {
  .cl-choose__card {
    padding-bottom: calc(20px - -45 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-choose__card {
    padding-bottom: 20px;
  }
}
.cl-choose__card {
  padding-right: 27px;
}
@media (max-width: 1170px) {
  .cl-choose__card {
    padding-right: calc(15px - -12 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-choose__card {
    padding-right: 15px;
  }
}
.cl-choose__card {
  padding-left: 27px;
}
@media (max-width: 1170px) {
  .cl-choose__card {
    padding-left: calc(15px - -12 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-choose__card {
    padding-left: 15px;
  }
}
@media (any-hover: hover) {
  .cl-choose__card {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-choose__card:hover {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.15);
  }
}
.cl-choose__card-img {
  width: 100%;
  max-width: 78px;
  margin-bottom: 25px;
}
.cl-choose__card-title {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #4e5e72;
}
.cl-choose__card-desc {
  font-weight: 400;
  font-size: 17px;
  line-height: 141%;
  color: #4e5e72;
  max-width: 230px;
}

.cl-area__body {
  padding-top: 83px;
}
@media (max-width: 1170px) {
  .cl-area__body {
    padding-top: calc(40px - -43 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-area__body {
    padding-top: 40px;
  }
}
.cl-area__body {
  padding-bottom: 97px;
}
@media (max-width: 1170px) {
  .cl-area__body {
    padding-bottom: calc(50px - -47 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-area__body {
    padding-bottom: 50px;
  }
}
.cl-area__top {
  row-gap: 20px;
}
.cl-area__top {
  margin-bottom: 50px;
}
@media (max-width: 1170px) {
  .cl-area__top {
    margin-bottom: calc(20px - -30 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-area__top {
    margin-bottom: 20px;
  }
}
.cl-area__title {
  font-weight: 600;
  line-height: 150%;
  text-transform: capitalize;
  color: #4e5e72;
}
.cl-area__title {
  font-size: 40px;
}
@media (max-width: 1170px) {
  .cl-area__title {
    font-size: calc(25px - -15 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-area__title {
    font-size: 25px;
  }
}
.cl-area__title {
  margin-bottom: 24px;
}
@media (max-width: 1170px) {
  .cl-area__title {
    margin-bottom: calc(16px - -8 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-area__title {
    margin-bottom: 16px;
  }
}
.cl-area__desc {
  font-weight: 400;
  line-height: 155%;
  color: #4e5e72;
}
.cl-area__desc {
  font-size: 20px;
}
@media (max-width: 1170px) {
  .cl-area__desc {
    font-size: calc(16px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-area__desc {
    font-size: 16px;
  }
}
.cl-area__desc {
  margin-bottom: 44px;
}
@media (max-width: 1170px) {
  .cl-area__desc {
    margin-bottom: calc(20px - -24 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-area__desc {
    margin-bottom: 20px;
  }
}
.cl-area__button {
  min-height: 44px;
}
.cl-area__grid {
  row-gap: 12px;
}
.cl-area__card-body {
  padding-left: 12px;
}
@media (max-width: 1170px) {
  .cl-area__card-body {
    padding-left: calc(6px - -6 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-area__card-body {
    padding-left: 6px;
  }
}
.cl-area__card-body {
  padding-right: 12px;
}
@media (max-width: 1170px) {
  .cl-area__card-body {
    padding-right: calc(6px - -6 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-area__card-body {
    padding-right: 6px;
  }
}
@media (max-width: 375px) {
  .cl-area__card-body {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.cl-area__card {
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  position: relative;
}
.cl-area__card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30%;
  left: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgb(255, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
}
.cl-area__card picture {
  height: 100%;
}
.cl-area__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease 0s;
}
.cl-area__card-title {
  left: 24px;
  bottom: 17px;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  z-index: 2;
}
.cl-area__card-title {
  font-size: 24px;
}
@media (max-width: 1170px) {
  .cl-area__card-title {
    font-size: calc(18px - -6 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-area__card-title {
    font-size: 18px;
  }
}
.cl-area__card-title {
  left: 24px;
}
@media (max-width: 1170px) {
  .cl-area__card-title {
    left: calc(18px - -6 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-area__card-title {
    left: 18px;
  }
}
.cl-area__card-title {
  bottom: 17px;
}
@media (max-width: 1170px) {
  .cl-area__card-title {
    bottom: calc(10px - -7 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-area__card-title {
    bottom: 10px;
  }
}
@media (any-hover: hover) {
  .cl-area__card {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-area__card:hover img {
    transform: scale(1.2);
  }
}

.cl-meet__body {
  padding-top: 83px;
}
@media (max-width: 1170px) {
  .cl-meet__body {
    padding-top: calc(40px - -43 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-meet__body {
    padding-top: 40px;
  }
}
.cl-meet__body {
  padding-bottom: 96px;
}
@media (max-width: 1170px) {
  .cl-meet__body {
    padding-bottom: calc(50px - -46 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-meet__body {
    padding-bottom: 50px;
  }
}
.cl-meet__decor * {
  position: absolute;
}
.cl-meet__decor-1 {
  border-radius: 100%;
  background-color: #f5fdff;
  filter: blur(50px);
  width: 540px;
  height: 512px;
  top: 25%;
  left: -35%;
}
.cl-meet__decor-2 {
  border-radius: 100%;
  background-color: rgba(255, 165, 38, 0.09);
  filter: blur(50px);
  width: 502px;
  height: 476px;
  top: -25%;
  left: 30%;
}
.cl-meet__decor-3 {
  border-radius: 100%;
  background-color: rgba(228, 244, 223, 0.71);
  filter: blur(50px);
  width: 616px;
  height: 464px;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}
.cl-meet__decor-4 {
  border-radius: 100%;
  background-color: rgba(244, 109, 154, 0.16);
  filter: blur(50px);
  width: 616px;
  height: 464px;
  top: -15%;
  right: -40%;
}
.cl-meet__title {
  font-weight: 600;
  line-height: 150%;
  text-transform: capitalize;
  color: #4e5e72;
}
.cl-meet__title {
  font-size: 40px;
}
@media (max-width: 1170px) {
  .cl-meet__title {
    font-size: calc(25px - -15 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-meet__title {
    font-size: 25px;
  }
}
.cl-meet__title {
  margin-bottom: 24px;
}
@media (max-width: 1170px) {
  .cl-meet__title {
    margin-bottom: calc(16px - -8 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-meet__title {
    margin-bottom: 16px;
  }
}
.cl-meet__desc {
  font-weight: 400;
  line-height: 155%;
  color: #4e5e72;
}
.cl-meet__desc {
  font-size: 20px;
}
@media (max-width: 1170px) {
  .cl-meet__desc {
    font-size: calc(16px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-meet__desc {
    font-size: 16px;
  }
}
.cl-meet__desc {
  margin-bottom: 44px;
}
@media (max-width: 1170px) {
  .cl-meet__desc {
    margin-bottom: calc(20px - -24 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-meet__desc {
    margin-bottom: 20px;
  }
}
.cl-meet__grid {
  row-gap: 12px;
}
.cl-meet__card-body {
  padding-left: 12px;
}
@media (max-width: 1170px) {
  .cl-meet__card-body {
    padding-left: calc(6px - -6 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-meet__card-body {
    padding-left: 6px;
  }
}
.cl-meet__card-body {
  padding-right: 12px;
}
@media (max-width: 1170px) {
  .cl-meet__card-body {
    padding-right: calc(6px - -6 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-meet__card-body {
    padding-right: 6px;
  }
}
@media (max-width: 375px) {
  .cl-meet__card-body {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.cl-meet__card {
  border-radius: 10px;
}
@media (any-hover: hover) {
  .cl-meet__card {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-meet__card:hover {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.15);
  }
}
.cl-meet__card-img {
  width: 100%;
}
.cl-meet__card-info {
  padding-top: 18px;
}
@media (max-width: 1170px) {
  .cl-meet__card-info {
    padding-top: calc(10px - -8 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-meet__card-info {
    padding-top: 10px;
  }
}
.cl-meet__card-info {
  padding-bottom: 18px;
}
@media (max-width: 1170px) {
  .cl-meet__card-info {
    padding-bottom: calc(10px - -8 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-meet__card-info {
    padding-bottom: 10px;
  }
}
.cl-meet__card-info {
  padding-left: 22px;
}
@media (max-width: 1170px) {
  .cl-meet__card-info {
    padding-left: calc(14px - -8 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-meet__card-info {
    padding-left: 14px;
  }
}
.cl-meet__card-info {
  padding-right: 22px;
}
@media (max-width: 1170px) {
  .cl-meet__card-info {
    padding-right: calc(14px - -8 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-meet__card-info {
    padding-right: 14px;
  }
}
.cl-meet__card-title {
  font-weight: 600;
  line-height: 100%;
  color: #4e5e72;
}
.cl-meet__card-title {
  font-size: 24px;
}
@media (max-width: 1170px) {
  .cl-meet__card-title {
    font-size: calc(18px - -6 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-meet__card-title {
    font-size: 18px;
  }
}
.cl-meet__card-title {
  margin-bottom: 16px;
}
@media (max-width: 1170px) {
  .cl-meet__card-title {
    margin-bottom: calc(10px - -6 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-meet__card-title {
    margin-bottom: 10px;
  }
}
@media (max-width: 567px) {
  .cl-meet__card-title {
    font-weight: 400;
  }
}
.cl-meet__card-actions {
  gap: 21px;
}
.cl-meet__card-button {
  color: #4e5e72;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 4px;
}
.cl-meet__card-button {
  font-size: 24px;
}
@media (max-width: 1170px) {
  .cl-meet__card-button {
    font-size: calc(20px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-meet__card-button {
    font-size: 20px;
  }
}
.cl-meet__card-button.active {
  color: #f46d9a;
}
@media (any-hover: hover) {
  .cl-meet__card-button {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .cl-meet__card-button:hover {
    color: #f46d9a;
  }
}
.cl-meet__card-counter {
  font-weight: 600;
  line-height: 1;
}
.cl-meet__card-counter {
  font-size: 24px;
}
@media (max-width: 1170px) {
  .cl-meet__card-counter {
    font-size: calc(20px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-meet__card-counter {
    font-size: 20px;
  }
}

.cl-bonus__body {
  padding-top: 83px;
}
@media (max-width: 1170px) {
  .cl-bonus__body {
    padding-top: calc(40px - -43 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-bonus__body {
    padding-top: 40px;
  }
}
.cl-bonus__body {
  padding-bottom: 96px;
}
@media (max-width: 1170px) {
  .cl-bonus__body {
    padding-bottom: calc(50px - -46 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-bonus__body {
    padding-bottom: 50px;
  }
}
.cl-bonus__title {
  font-weight: 600;
  line-height: 150%;
  text-transform: capitalize;
  color: #4e5e72;
}
.cl-bonus__title {
  font-size: 40px;
}
@media (max-width: 1170px) {
  .cl-bonus__title {
    font-size: calc(25px - -15 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-bonus__title {
    font-size: 25px;
  }
}
.cl-bonus__title {
  margin-bottom: 24px;
}
@media (max-width: 1170px) {
  .cl-bonus__title {
    margin-bottom: calc(16px - -8 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-bonus__title {
    margin-bottom: 16px;
  }
}
.cl-bonus__desc {
  font-weight: 400;
  line-height: 155%;
  color: #4e5e72;
}
.cl-bonus__desc {
  font-size: 20px;
}
@media (max-width: 1170px) {
  .cl-bonus__desc {
    font-size: calc(16px - -4 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-bonus__desc {
    font-size: 16px;
  }
}
.cl-bonus__desc {
  margin-bottom: 44px;
}
@media (max-width: 1170px) {
  .cl-bonus__desc {
    margin-bottom: calc(20px - -24 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-bonus__desc {
    margin-bottom: 20px;
  }
}
.cl-bonus__counter {
  display: flex;
  justify-content: center;
}
.cl-bonus__counter {
  margin-bottom: 70px;
}
@media (max-width: 1170px) {
  .cl-bonus__counter {
    margin-bottom: calc(30px - -40 * (100vw - 320px) / 850);
  }
}
@media (max-width: 320px) {
  .cl-bonus__counter {
    margin-bottom: 30px;
  }
}
.cl-bonus__btn {
  min-height: 44px;
  max-width: 275px;
}

.cl-page {
  flex: 1 1 auto;
}