.cl-header {
  font-weight: 600;
  transition: all 0.3s ease 0s;
  backdrop-filter: blur(5px);
  background: rgba(98, 56, 211, 0.05);

  &.cl-scroll {
    background: rgba(98, 56, 211, 0.75);
  }

  &__logo {
    max-width: 163px;

    @media (max-width: 768px) {
      max-width: 100px;
    }
  }

  &__navbar {
    @include fluid(padding-top, 15px, 6px, 320px, 1170px);
    @include fluid(padding-bottom, 15px, 6px, 320px, 1170px);
  }

  &__nav {
    row-gap: 10px;
    column-gap: 20px;
  }

  &__have-account {
    font-weight: 600;
  }

  &__language {
    position: relative;

    & select {
      height: 38px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid #fff;
      background: transparent;
      color: #fff;
      font-weight: 600;
      border-radius: 1000px;
      font-size: 16px;
      width: 80px;

      &:focus {
        background: transparent;
        color: #fff;
      }

      & option {
        background-color: $colorPurple; /* фон у выпадающих пунктов */
        color: #fff; /* цвет текста */
      }
    }

    &-controls {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;
      padding: 2px 3px;
      background: $colorPurple;
      pointer-events: none;
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
    }

    &-controls button {
      color: #9e7cf5;
      background: transparent;
      width: 9px;
      height: 5px;
      display: flex;

      @media (any-hover: hover) {
        cursor: pointer;
        transition: all 0.3s ease 0s;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
