  .cl-hero {
    background: linear-gradient(180deg, #5a2fd0 0%, #784dba 100%);

    &__body {
      padding-top: 140px;
      @include fluid(padding-top, 140px, 80px, 320px, 1170px);
    }

    &__title {
      line-height: 100%;

      @include fluid(font-size, 48px, 22px, 320px, 1170px);
      @include fluid(margin-bottom, 53px, 32px, 320px, 1170px);

      & .text-pink {
        color: $colorPink;
      }

      & .text-small {
        @include fluid(font-size, 32px, 14px, 320px, 1170px);
      }
    }

    &__img {
      max-width: 100%;
      margin-bottom: 38px;

      img {
        width: 100%;
      }
    }

    &__form {
      border-radius: 10px;
      box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.15);
      margin-bottom: -6%;

      @include fluid(padding-top, 32px, 16px, 320px, 1170px);
      @include fluid(padding-bottom, 32px, 16px, 320px, 1170px);
      @include fluid(padding-left, 42px, 21px, 320px, 1170px);
      @include fluid(padding-right, 42px, 21px, 320px, 1170px);
      @include fluid(row-gap, 22.75px, 12px, 320px, 1170px);
    }

    &__label {
      margin-bottom: 8px;
      font-family: $fontHelvetica;
      font-weight: 400;
      line-height: 133%;
      color: $colorGray;

      @include fluid(font-size, 18px, 14px, 320px, 1170px);
    }

    &__input {
      padding: 10.5px 8px;
      color: $colorGray;
      border-radius: 4px;
      min-height: 38px;

      @include fluid(font-size, 14px, 12px, 320px, 1170px);

      &:focus {
        color: $colorGray;
      }
    }

    &__btn {
      min-height: 38px;
    }

    @media (max-width: 768px) {
      &__form {
        margin-bottom: -30%;
      }
    }
  }