.cl-members {
  &__body {
    @include fluid(padding-top, 163px, 180px, 320px, 1170px);
    @include fluid(padding-bottom, 98px, 50px, 320px, 1170px);
  }

  &__title {
    font-weight: 600;
    line-height: 150%;
    text-transform: capitalize;
    color: $colorDarkGray;

    @include fluid(font-size, 40px, 25px, 320px, 1170px);
    @include fluid(margin-bottom, 24px, 16px, 320px, 1170px);
  }

  &__desc {
    font-weight: 400;
    line-height: 155%;
    color: $colorDarkGray;

    @include fluid(font-size, 20px, 16px, 320px, 1170px);
    @include fluid(margin-bottom, 44px, 20px, 320px, 1170px);
  }

  &__nav {
    @include fluid(gap, 24px, 12px, 320px, 1170px);
    @include fluid(margin-bottom, 50px, 20px, 320px, 1170px);

    &-btn {
      max-width: 140px;
      min-height: 38px;
    }
  }

  &__grid {
    display: none;

    @include fluid(row-gap, 24px, 12px, 320px, 1170px);
    @include fluid(margin-bottom, 50px, 20px, 320px, 1170px);

    &.active {
      display: flex;
    }
  }

  &__card-body {
    @include fluid(padding-left, 12px, 6px, 320px, 1170px);
    @include fluid(padding-right, 12px, 6px, 320px, 1170px);
  }

  &__card {
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.15);

    img {
      width: 100%;
      transition: all 0.3s ease 0s;
    }

    &-info {
      position: relative;
      background: #fff;
      z-index: 1;

      @include fluid(padding-top, 18px, 14px, 320px, 1170px);
      @include fluid(padding-bottom, 18px, 14px, 320px, 1170px);
      @include fluid(padding-left, 26px, 20px, 320px, 1170px);
      @include fluid(padding-right, 26px, 20px, 320px, 1170px);
    }

    &-title {
      font-weight: 600;
      line-height: 100%;
      color: $colorDarkGray;
      position: relative;
      transition: all 0.3s ease 0s;

      @include fluid(font-size, 24px, 18px, 320px, 1170px);

      &::after {
        content: '';
        height: 1px;
        width: 0;
        background-color: $colorBlue;
        position: absolute;
        bottom: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
    }

    &-age {
      line-height: 109%;

      @include fluid(font-size, 22px, 18px, 320px, 1170px);
    }

    &-star {
      @include fluid(margin-left, 11px, 5px, 320px, 1170px);
    }

    &-country {
      font-weight: 400;
      line-height: 141%;
      color: $colorDarkGray;
      @include fluid(font-size, 17px, 14px, 320px, 1170px);
      @include fluid(margin-top, 16px, 12px, 320px, 1170px);
    }

    &-dot {
      background: $colorGreen;
      border-radius: 50%;
      width: 8px;
      height: 8px;
    }

    @media (any-hover: hover) {
      cursor: pointer;
      transition: all 0.3s ease 0s;

      &:hover {
        & .cl-members__card-title {
          color: $colorBlue;

          &::after {
            width: 100%;
          }
        }
        & img {
          transform: scale(1.2);
        }
      }
    }
  }

  &__btn-all {
    min-height: 44px;
    max-width: 275px;
  }
}
