<section class="cl-area">
  <div class="container">
    <div class="cl-area__body">
      <div class="cl-area__top row flex-column flex-lg-row justify-content-between">
        <div class="cl-area__texts col-12 col-lg-6 justify-content-center text-center text-lg-left">
          <h2 class="cl-area__title">Meet Singles in Your Area</h2>
          <p class="cl-area__desc">Find your match in the most popular cities across the globe. Be adventurous
            and find someone from other parts of the world — you never know where love is hiding.</p>

          <button class="cl-area__btn btn btn-primary col-6">Search Near You</button>
        </div>
        <div class="d-none d-lg-block col-12 col-lg-5">
          <div class="cl-area__card position-relative">
            <img src="./img/area/paris.png" alt="Paris">

            <h3 class="cl-area__card-title position-absolute">Paris, France</h3>
          </div>
        </div>
      </div>

      <ul class="cl-area__grid row justify-content-center justify-content-lg-start">
        <li class="cl-area__card-body col-6 col-lg-4 col-xl-3 d-lg-none">
          <div class="cl-area__card position-relative">
            <img src="./img/area/paris.png" alt="London">

            <h3 class="cl-area__card-title position-absolute">Paris, France</h3>
          </div>
        </li>
        <li class="cl-area__card-body col-6 col-lg-4 col-xl-3">
          <div class="cl-area__card position-relative">
            <img src="./img/area/london.png" alt="London">

            <h3 class="cl-area__card-title position-absolute">London, UK</h3>
          </div>
        </li>

        <li class="cl-area__card-body col-6 col-lg-4 col-xl-3">
          <div class="cl-area__card position-relative">
            <img src="./img/area/barcelona.png" alt="Barcelona">

            <h3 class="cl-area__card-title position-absolute">Barcelona, Spane</h3>
          </div>
        </li>

        <li class="cl-area__card-body col-6 col-lg-4 col-xl-3">
          <div class="cl-area__card position-relative">
            <img src="./img/area/taj-mahal.png" alt="Taj Mahal">

            <h3 class="cl-area__card-title position-absolute">Taj Mahal, India,</h3>
          </div>
        </li>

        <li class="cl-area__card-body col-6 col-lg-4 col-xl-3">
          <div class="cl-area__card position-relative">
            <img src="./img/area/burj-al-arab.png" alt="Burj Al Arab">

            <h3 class="cl-area__card-title position-absolute">Burj Al Arab, Dubai</h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>