<div class="cl-bonus">
  <div class="container">
    <div class="cl-bonus__body d-flex flex-column align-items-center">
      <div class="row justify-content-center text-center text-md-left">
        <h2 class="cl-bonus__title col-xl-8">Зарегистрируйся и получи бонус</h2>
        <p class="cl-bonus__desc col-xl-8">Learn from them and try to make it to this board. This will for sure boost
          you visibility and increase your chances to find you loved one.</p>

        <div class="cl-bonus__counter tick col-xl-8" data-value="12345678" data-did-init="handleTickInit"
          data-credits="false">

          <!--     <div data-value-mapping="indexes" data-layout="horizontal fit" data-transform="arrive(.2) -> round -> split -> delay(rtl, 100, 150)"> -->
          <div data-value-mapping="indexes" data-layout="horizontal fit"
            data-transform="pad('00000000')-> split -> delay(rtl, 100, 150)">

            <span data-view="flip">0</span>
            <span data-view="flip">0</span>
            <span class="tick-text-inline">,</span>

            <span data-view="flip">0</span>
            <span data-view="flip">0</span>
            <span data-view="flip">0</span>
            <span class="tick-text-inline">,</span>

            <span data-view="flip">0</span>
            <span data-view="flip">0</span>
            <span data-view="flip">0</span>



          </div>

        </div>

        <div class="col-12 text-center">
          <button class="cl-bonus__btn w-100 btn btn-primary">Зарегистрироваться</button>
        </div>
      </div>




    </div>
  </div>
</div>