<section class="cl-choose bg-white overflow-hidden">
  <div class="container">
    <div class="cl-choose__body position-relative">
      <div class="cl-choose__decor">
        <div class="cl-choose__decor-1"></div>
        <div class="cl-choose__decor-2"></div>
        <div class="cl-choose__decor-3"></div>
        <div class="cl-choose__decor-4"></div>
      </div>

      <div class="row justify-content-center text-center text-md-left">
        <h2 class="cl-choose__title text-center col-xl-8">Why Choose LovelyMeet</h2>
        <p class="cl-choose__desc text-center col-xl-8">Become part of a growing a community and have access the
          thousands
          of people.</p>
      </div>

      <ul class="cl-choose__grid row justify-content-center justify-content-lg-start">
        <li class="cl-choose__card-body col-12 col-sm-6 col-lg-4 col-xl-3">
          <div class="cl-choose__card bg-white d-flex flex-column align-items-center text-center text-lg-left">
            <img class="cl-choose__card-img" src="./img/choose/01.png" alt="Like hand" />
            <h3 class="cl-choose__card-title w-100 text-center">Simple To Use</h3>
            <p class="cl-choose__card-desc w-100 text-center">Simple steps to follow to have a matching connection.</p>
          </div>
        </li>
        <li class="cl-choose__card-body col-12 col-sm-6 col-lg-4 col-xl-3">
          <div class="cl-choose__card bg-white d-flex flex-column align-items-center text-center text-lg-left">
            <img class="cl-choose__card-img" src="./img/choose/02.png" alt="Puzzle" />
            <h3 class="cl-choose__card-title w-100 text-center">Smart Matching</h3>
            <p class="cl-choose__card-desc w-100 text-center">Create connection with users that are like you.</p>
          </div>
        </li>
        <li class="cl-choose__card-body col-12 col-sm-6 col-lg-4 col-xl-3">
          <div class="cl-choose__card bg-white d-flex flex-column align-items-center text-center text-lg-left">
            <img class="cl-choose__card-img" src="./img/choose/03.png" alt="Filter" />
            <h3 class="cl-choose__card-title w-100 text-center">Filter Very Fast</h3>
            <p class="cl-choose__card-desc w-100 text-center">Don't waste your time! Find only what you are interested
            </p>
          </div>
        </li>
        <li class="cl-choose__card-body col-12 col-sm-6 col-lg-4 col-xl-3">
          <div class="cl-choose__card bg-white d-flex flex-column align-items-center text-center text-lg-left">
            <img class="cl-choose__card-img" src="./img/choose/04.png" alt="People" />
            <h3 class="cl-choose__card-title w-100 text-center">Cool Community</h3>
            <p class="cl-choose__card-desc w-100 text-center">BuddyFree network is full of cool members</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>