<footer class="cl-footer">
  <div class="container">
    <div class="cl-footer__body row justify-content-center justify-content-xl-between">
      <div class="cl-footer__col col-12 col-sm-6 col-xl-3 d-flex flex-column">
        <img class="cl-footer__logo" src="./img/logo.png" alt="Logo">

        <p class="cl-footer__text">Lorem ipsum dolor sit amet consectetur. Dignissim ullamcorper eleifend curabitur.
        </p>
        <p class="cl-footer__text">duis iaculis suscipit in. Diam nam nulla diam ultrices viverra. </p>
        <p class="cl-footer__text">Pellentesque enim lacus dolor ornare massa interdum mauris.</p>
      </div>

      <div class="cl-footer__col col-12 col-sm-6 col-xl-3 d-flex flex-column">
        <h3 class="cl-footer__title">Featured Members</h3>

        <ul class="cl-footer__members d-flex flex-column">
          <li class="cl-footer__members-item">
            <div class="cl-footer__members-avatar">
              <img src="./img/footer/avatar.png" alt="Avatar">
            </div>
            <div class="cl-footer__members-info d-flex flex-column">
              <span class="cl-footer__members-name">Samanta Lee</span>
              <span class="cl-footer__members-status">Active</span>
            </div>
          </li>
          <li class="cl-footer__members-item">
            <div class="cl-footer__members-avatar">
              <img src="./img/footer/avatar.png" alt="Avatar">
            </div>
            <div class="cl-footer__members-info d-flex flex-column">
              <span class="cl-footer__members-name">Samanta Lee</span>
              <span class="cl-footer__members-status">Active</span>
            </div>
          </li>
          <li class="cl-footer__members-item">
            <div class="cl-footer__members-avatar">
              <img src="./img/footer/avatar.png" alt="Avatar">
            </div>
            <div class="cl-footer__members-info d-flex flex-column">
              <span class="cl-footer__members-name">Samanta Lee</span>
              <span class="cl-footer__members-status">Active</span>
            </div>
          </li>
        </ul>
      </div>

      <div class="cl-footer__col col-12 col-sm-6 col-xl-3 d-flex flex-column">
        <h3 class="cl-footer__title">Contacts & Suport</h3>

        <ul class="cl-footer__contacts d-flex flex-column">
          <li class="cl-footer__contact">
            <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.21967 0.46967C0.512563 0.176777 0.987324 0.176777 1.28022 0.46967L4.81049 3.99994L1.28022 7.53022C0.987324 7.82311 0.512563 7.82311 0.21967 7.53022C-0.0732233 7.23732 -0.0732233 6.76256 0.21967 6.46967L2.6894 3.99994L0.21967 1.53022C-0.0732233 1.23732 -0.0732233 0.762563 0.21967 0.46967Z"
                fill="currentColor" />
            </svg>
            About us
          </li>
          <li class="cl-footer__contact">
            <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.21967 0.46967C0.512563 0.176777 0.987324 0.176777 1.28022 0.46967L4.81049 3.99994L1.28022 7.53022C0.987324 7.82311 0.512563 7.82311 0.21967 7.53022C-0.0732233 7.23732 -0.0732233 6.76256 0.21967 6.46967L2.6894 3.99994L0.21967 1.53022C-0.0732233 1.23732 -0.0732233 0.762563 0.21967 0.46967Z"
                fill="currentColor" />
            </svg>
            Our Team
          </li>
          <li class="cl-footer__contact">
            <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.21967 0.46967C0.512563 0.176777 0.987324 0.176777 1.28022 0.46967L4.81049 3.99994L1.28022 7.53022C0.987324 7.82311 0.512563 7.82311 0.21967 7.53022C-0.0732233 7.23732 -0.0732233 6.76256 0.21967 6.46967L2.6894 3.99994L0.21967 1.53022C-0.0732233 1.23732 -0.0732233 0.762563 0.21967 0.46967Z"
                fill="currentColor" />
            </svg>
            Testimonials
          </li>
          <li class="cl-footer__contact">
            <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.21967 0.46967C0.512563 0.176777 0.987324 0.176777 1.28022 0.46967L4.81049 3.99994L1.28022 7.53022C0.987324 7.82311 0.512563 7.82311 0.21967 7.53022C-0.0732233 7.23732 -0.0732233 6.76256 0.21967 6.46967L2.6894 3.99994L0.21967 1.53022C-0.0732233 1.23732 -0.0732233 0.762563 0.21967 0.46967Z"
                fill="currentColor" />
            </svg>
            Get in Touch
          </li>
          <li class="cl-footer__contact">
            <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.21967 0.46967C0.512563 0.176777 0.987324 0.176777 1.28022 0.46967L4.81049 3.99994L1.28022 7.53022C0.987324 7.82311 0.512563 7.82311 0.21967 7.53022C-0.0732233 7.23732 -0.0732233 6.76256 0.21967 6.46967L2.6894 3.99994L0.21967 1.53022C-0.0732233 1.23732 -0.0732233 0.762563 0.21967 0.46967Z"
                fill="currentColor" />
            </svg>
            FAQ
          </li>
        </ul>
      </div>

      <div class="cl-footer__col col-12 col-sm-6 col-xl-3 d-flex flex-column">
        <h3 class="cl-footer__title">Featured Members</h3>

        <ul class="cl-footer__members d-flex flex-column">
          <li class="cl-footer__members-item">
            <div class="cl-footer__members-img">
              <img src="./img/footer/avatar-1.png" alt="Avatar">
            </div>
            <div class="cl-footer__members-info d-flex flex-column">
              <span class="cl-footer__members-place">Where To Find A Good...</span>
              <span class="cl-footer__members-date">August 13, 2022</span>
            </div>
          </li>
          <li class="cl-footer__members-item">
            <div class="cl-footer__members-img">
              <img src="./img/footer/avatar-2.png" alt="Avatar">
            </div>
            <div class="cl-footer__members-info d-flex flex-column">
              <span class="cl-footer__members-place">Where To Find A Good...</span>
              <span class="cl-footer__members-date">August 13, 2022</span>
            </div>
          </li>
          <li class="cl-footer__members-item">
            <div class="cl-footer__members-img">
              <img src="./img/footer/avatar-3.png" alt="Avatar">
            </div>
            <div class="cl-footer__members-info d-flex flex-column">
              <span class="cl-footer__members-place">Where To Find A Good...</span>
              <span class="cl-footer__members-date">August 13, 2022</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>