<header class="cl-header fixed-top">
  <div class="container">
    <nav class="cl-header__navbar navbar navbar-expand-sm navbar-dark">
      <a class="navbar-brand" href="#">
        <img class="cl-header__logo" src="./img/logo.png" alt="Logo">
      </a>

      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#headerNav"
        aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end " id="headerNav">

        <div class="cl-header__nav py-3 py-sm-0 d-flex flex-column flex-sm-row align-items-end align-items-sm-center">
          <button class="btn btn-outline-light">Войти</button>

          <div
            class="cl-header__nav-buttons d-flex flex-row-reverse flex-sm-row align-items-center justify-content-between">
            <button class="btn btn-outline-light">Регистрация</button>

            <div class="cl-header__language">
              <select class="custom-select">
                <option value="RU" selected>RU</option>
                <option value="En">EN</option>
                <option value="UA">UA</option>
              </select>

              <div class="cl-header__language-controls">
                <button>
                  <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 5H0L4.5 0L9 5Z" fill="currentColor" />
                  </svg>
                </button>

                <button>
                  <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 0H0L4.5 5L9 0Z" fill="currentColor" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>