<section class="cl-hero">

  <div class="container">
    <div class="cl-hero__body d-flex flex-column">
      <h1 class="cl-hero__title text-center font-weight-bold text-capitalize text-white">
        Meet <span class="text-pink">Big</span>
        And
        <span class="text-pink">Cute</span> Love Here.<span class="text-small">.</span>
      </h1>

      <div class="cl-hero__map">
        <img src="./img/hero/map.png" alt="Map" />

        <div class="cl-hero__points">
          <div class="cl-hero__point">

            <div class="cl-hero__point-button">
              <div class="cl-hero__point-imgs">
                <div class="cl-card" data-order="0">
                  <img src="./img/hero/woman-1.png" alt="Woman" />
                </div>
              </div>

              <div class="cl-hero__point-dot"></div>
            </div>

            <div class="cl-hero__point-window">
              <div id="carouselExampleControls" class="cl-hero__point-window-slider carousel slide">
                <button class="cl-hero__point-window-nav-btn" type="button" data-target="#carouselExampleControls"
                  data-slide="prev">
                  <svg width="1em" height="1em" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.29167 0L12 2.4L7.41667 6.8L12 11.2L9.29167 14L2 6.8L9.29167 0Z" fill="currentColor" />
                  </svg>
                </button>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="cl-hero__point-window-top">
                      <img src="./img/hero/woman-8.png" alt="Woman" />
                      <div class="cl-hero__point-window-info">
                        <span class="cl-hero__point-window-name">Елена, <span class="font-weight-normal">28</span>
                        </span>
                        <span class="cl-hero__point-window-country"> Азербайджан, Баку </span>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="cl-hero__point-window-top">
                      <img src="./img/hero/woman-7.png" alt="Woman" />
                      <div class="cl-hero__point-window-info">
                        <span class="cl-hero__point-window-name">Елена, <span class="font-weight-normal">28</span>
                        </span>
                        <span class="cl-hero__point-window-country"> Азербайджан, Баку </span>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="cl-hero__point-window-nav-btn" type="button" data-target="#carouselExampleControls"
                  data-slide="next">
                  <svg width="1em" height="1em" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.70833 0L2 2.4L6.58333 6.8L2 11.2L4.70833 14L12 6.8L4.70833 0Z" fill="currentColor" />
                  </svg>
                </button>
              </div>

              <button class="cl-hero__point-window-button btn btn-secondary" data-toggle="modal"
                data-target="#registerModal"> View profile</button>
            </div>
          </div>

          <div class="cl-hero__point">
            <div class="cl-hero__point-button">
              <div class="cl-hero__point-imgs">
                <div class="cl-card" data-order="0">
                  <img src="./img/hero/woman-2.png" alt="Woman" />
                </div>
              </div>

              <div class="cl-hero__point-dot"></div>
            </div>

            <div class="cl-hero__point-window">
              <div id="carouselExampleControls2" class="cl-hero__point-window-slider carousel slide">
                <button class="cl-hero__point-window-nav-btn" type="button" data-target="#carouselExampleControls2"
                  data-slide="prev">
                  <svg width="1em" height="1em" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.29167 0L12 2.4L7.41667 6.8L12 11.2L9.29167 14L2 6.8L9.29167 0Z" fill="currentColor" />
                  </svg>
                </button>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="cl-hero__point-window-top">
                      <img src="./img/hero/woman-2.png" alt="Woman" />
                      <div class="cl-hero__point-window-info">
                        <span class="cl-hero__point-window-name">Елена, <span class="font-weight-normal">28</span>
                        </span>
                        <span class="cl-hero__point-window-country"> Азербайджан, Баку </span>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="cl-hero__point-window-top">
                      <img src="./img/hero/woman-7.png" alt="Woman" />
                      <div class="cl-hero__point-window-info">
                        <span class="cl-hero__point-window-name">Елена, <span class="font-weight-normal">28</span>
                        </span>
                        <span class="cl-hero__point-window-country"> Азербайджан, Баку </span>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="cl-hero__point-window-nav-btn" type="button" data-target="#carouselExampleControls2"
                  data-slide="next">
                  <svg width="1em" height="1em" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.70833 0L2 2.4L6.58333 6.8L2 11.2L4.70833 14L12 6.8L4.70833 0Z" fill="currentColor" />
                  </svg>
                </button>
              </div>

              <button class="cl-hero__point-window-button btn btn-secondary" data-toggle="modal"
                data-target="#registerModal"> View profile</button>
            </div>
          </div>

          <div class="cl-hero__point">
            <div class="cl-hero__point-button">
              <div class="cl-hero__point-imgs">
                <div class="cl-card" data-order="0">
                  <img src="./img/hero/woman-3.png" alt="Woman" />
                </div>

              </div>

              <div class="cl-hero__point-dot"></div>
            </div>

            <div class="cl-hero__point-window">
              <div id="carouselExampleControls3" class="cl-hero__point-window-slider carousel slide">
                <button class="cl-hero__point-window-nav-btn" type="button" data-target="#carouselExampleControls3"
                  data-slide="prev">
                  <svg width="1em" height="1em" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.29167 0L12 2.4L7.41667 6.8L12 11.2L9.29167 14L2 6.8L9.29167 0Z" fill="currentColor" />
                  </svg>
                </button>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="cl-hero__point-window-top">
                      <img src="./img/hero/woman-2.png" alt="Woman" />
                      <div class="cl-hero__point-window-info">
                        <span class="cl-hero__point-window-name">Елена, <span class="font-weight-normal">28</span>
                        </span>
                        <span class="cl-hero__point-window-country"> Азербайджан, Баку </span>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="cl-hero__point-window-top">
                      <img src="./img/hero/woman-7.png" alt="Woman" />
                      <div class="cl-hero__point-window-info">
                        <span class="cl-hero__point-window-name">Елена, <span class="font-weight-normal">28</span>
                        </span>
                        <span class="cl-hero__point-window-country"> Азербайджан, Баку </span>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="cl-hero__point-window-nav-btn" type="button" data-target="#carouselExampleControls3"
                  data-slide="next">
                  <svg width="1em" height="1em" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.70833 0L2 2.4L6.58333 6.8L2 11.2L4.70833 14L12 6.8L4.70833 0Z" fill="currentColor" />
                  </svg>
                </button>
              </div>

              <button class="cl-hero__point-window-button btn btn-secondary" data-toggle="modal"
                data-target="#registerModal"> View profile</button>
            </div>
          </div>

          <div class="cl-hero__point">
            <div class="cl-hero__point-button">
              <div class="cl-hero__point-imgs">
                <div class="cl-card" data-order="0">
                  <img src="./img/hero/woman-4.png" alt="Woman" />
                </div>

              </div>

              <div class="cl-hero__point-dot"></div>
            </div>

            <div class="cl-hero__point-window">
              <div id="carouselExampleControls4" class="cl-hero__point-window-slider carousel slide">
                <button class="cl-hero__point-window-nav-btn" type="button" data-target="#carouselExampleControls4"
                  data-slide="prev">
                  <svg width="1em" height="1em" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.29167 0L12 2.4L7.41667 6.8L12 11.2L9.29167 14L2 6.8L9.29167 0Z" fill="currentColor" />
                  </svg>
                </button>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="cl-hero__point-window-top">
                      <img src="./img/hero/woman-2.png" alt="Woman" />
                      <div class="cl-hero__point-window-info">
                        <span class="cl-hero__point-window-name">Елена, <span class="font-weight-normal">28</span>
                        </span>
                        <span class="cl-hero__point-window-country"> Азербайджан, Баку </span>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="cl-hero__point-window-top">
                      <img src="./img/hero/woman-7.png" alt="Woman" />
                      <div class="cl-hero__point-window-info">
                        <span class="cl-hero__point-window-name">Елена, <span class="font-weight-normal">28</span>
                        </span>
                        <span class="cl-hero__point-window-country"> Азербайджан, Баку </span>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="cl-hero__point-window-nav-btn" type="button" data-target="#carouselExampleControls4"
                  data-slide="next">
                  <svg width="1em" height="1em" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.70833 0L2 2.4L6.58333 6.8L2 11.2L4.70833 14L12 6.8L4.70833 0Z" fill="currentColor" />
                  </svg>
                </button>
              </div>

              <button class="cl-hero__point-window-button btn btn-secondary" data-toggle="modal"
                data-target="#registerModal"> View profile</button>
            </div>
          </div>

          <div class="cl-hero__point">
            <div class="cl-hero__point-button">
              <div class="cl-hero__point-imgs">
                <div class="cl-card" data-order="0">
                  <img src="./img/hero/woman-5.png" alt="Woman" />
                </div>
                <div class="cl-card" data-order="1">
                  <img src="./img/hero/woman-6.png" alt="Woman" />
                </div>
                <div class="cl-card" data-order="2">
                  <img src="./img/hero/woman-7.png" alt="Woman" />
                </div>
              </div>

              <div class="cl-hero__point-dot"></div>
            </div>

            <div class="cl-hero__point-window">
              <div id="carouselExampleControls5" class="cl-hero__point-window-slider carousel slide">
                <button class="cl-hero__point-window-nav-btn" type="button" data-target="#carouselExampleControls5"
                  data-slide="prev">
                  <svg width="1em" height="1em" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.29167 0L12 2.4L7.41667 6.8L12 11.2L9.29167 14L2 6.8L9.29167 0Z" fill="currentColor" />
                  </svg>
                </button>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="cl-hero__point-window-top">
                      <img src="./img/hero/woman-5.png" alt="Woman" />
                      <div class="cl-hero__point-window-info">
                        <span class="cl-hero__point-window-name">Елена, <span class="font-weight-normal">28</span>
                        </span>
                        <span class="cl-hero__point-window-country"> Азербайджан, Баку </span>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="cl-hero__point-window-top">
                      <img src="./img/hero/woman-6.png" alt="Woman" />
                      <div class="cl-hero__point-window-info">
                        <span class="cl-hero__point-window-name">Елена, <span class="font-weight-normal">28</span>
                        </span>
                        <span class="cl-hero__point-window-country"> Азербайджан, Баку </span>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="cl-hero__point-window-top">
                      <img src="./img/hero/woman-7.png" alt="Woman" />
                      <div class="cl-hero__point-window-info">
                        <span class="cl-hero__point-window-name">Елена, <span class="font-weight-normal">28</span>
                        </span>
                        <span class="cl-hero__point-window-country"> Азербайджан, Баку </span>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="cl-hero__point-window-nav-btn" type="button" data-target="#carouselExampleControls5"
                  data-slide="next">
                  <svg width="1em" height="1em" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.70833 0L2 2.4L6.58333 6.8L2 11.2L4.70833 14L12 6.8L4.70833 0Z" fill="currentColor" />
                  </svg>
                </button>
              </div>

              <button class="cl-hero__point-window-button btn btn-secondary" data-toggle="modal"
                data-target="#registerModal"> View profile</button>
            </div>
          </div>

          <div class="cl-hero__point">
            <div class="cl-hero__point-button">
              <div class="cl-hero__point-imgs">
                <img src="./img/hero/woman-8.png" alt="Woman" />
              </div>

              <div class="cl-hero__point-dot"></div>
            </div>

            <div class="cl-hero__point-window">
              <div id="carouselExampleControls6" class="cl-hero__point-window-slider carousel slide">
                <button class="cl-hero__point-window-nav-btn" type="button" data-target="#carouselExampleControls6"
                  data-slide="prev">
                  <svg width="1em" height="1em" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.29167 0L12 2.4L7.41667 6.8L12 11.2L9.29167 14L2 6.8L9.29167 0Z" fill="currentColor" />
                  </svg>
                </button>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="cl-hero__point-window-top">
                      <img src="./img/hero/woman-8.png" alt="Woman" />
                      <div class="cl-hero__point-window-info">
                        <span class="cl-hero__point-window-name">Елена, <span class="font-weight-normal">28</span>
                        </span>
                        <span class="cl-hero__point-window-country"> Азербайджан, Баку </span>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="cl-hero__point-window-top">
                      <img src="./img/hero/woman-6.png" alt="Woman" />
                      <div class="cl-hero__point-window-info">
                        <span class="cl-hero__point-window-name">Елена, <span class="font-weight-normal">28</span>
                        </span>
                        <span class="cl-hero__point-window-country"> Азербайджан, Баку </span>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="cl-hero__point-window-top">
                      <img src="./img/hero/woman-7.png" alt="Woman" />
                      <div class="cl-hero__point-window-info">
                        <span class="cl-hero__point-window-name">Елена, <span class="font-weight-normal">28</span>
                        </span>
                        <span class="cl-hero__point-window-country"> Азербайджан, Баку </span>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="cl-hero__point-window-nav-btn" type="button" data-target="#carouselExampleControls6"
                  data-slide="next">
                  <svg width="1em" height="1em" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.70833 0L2 2.4L6.58333 6.8L2 11.2L4.70833 14L12 6.8L4.70833 0Z" fill="currentColor" />
                  </svg>
                </button>
              </div>

              <button class="cl-hero__point-window-button btn btn-secondary" data-toggle="modal"
                data-target="#registerModal"> View profile</button>
            </div>
          </div>
        </div>
      </div>

      <form action="#" method="POST"
        class="cl-hero__form row form-inline bg-white flex-xl-nowrap align-items-end justify-content-center">
        <div class="col-md-6 col-xl-12 pl-2 pr-2 flex-shrink-1 form-group flex-column align-items-start">
          <label for="gender" class="cl-hero__label">Я</label>
          <div class="input-group w-100">
            <div class="input-group-prepend">
              <span class="input-group-text border-right-0 bg-white" id="man">
                <svg class="cl-hero__gender-icon" width="10" height="18" viewBox="0 0 10 18" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7.99902 5.10938C9.02659 5.16164 9.84609 5.99942 9.87012 7.03418C9.87092 7.04957 9.87109 7.06547 9.87109 7.08105V11.248C9.87109 11.7326 9.47865 12.1259 8.99414 12.126C8.50953 12.126 8.11621 11.7326 8.11621 11.248V7.73828H7.34863V16.4033C7.34859 17.009 6.85763 17.4999 6.25195 17.5C5.64622 17.5 5.15532 17.009 5.15527 16.4033V12.126H4.60645V16.4033C4.6064 17.009 4.11549 17.5 3.50977 17.5C2.90408 17.4999 2.41313 17.009 2.41309 16.4033V7.73828H1.75488V11.248C1.75488 11.7325 1.36232 12.1257 0.87793 12.126C0.393324 12.126 0 11.7326 0 11.248V7.08105C0 7.06547 0.000173705 7.04956 0.000976562 7.03418C0.0257949 5.96543 0.899862 5.10645 1.97461 5.10645H7.89746L7.99902 5.10938ZM4.82617 0.5C6.03767 0.500014 7.01953 1.48189 7.01953 2.69336C7.01951 3.90481 6.03766 4.8867 4.82617 4.88672C3.61467 4.88672 2.63283 3.90482 2.63281 2.69336C2.63281 1.48188 3.61466 0.5 4.82617 0.5Z"
                    fill="currentColor" />
                </svg>
              </span>
            </div>
            <select class="cl-hero__input cl-hero__select-gender custom-select border-left-0 font-weight-bold"
              id="gender" aria-describedby="man" placeholder="Пол">
              <option data-color="#9aa0ac" value="Пол" disabled hidden selected>Пол</option>
              <option data-color="#2C79E3" value="Мужчина">Мужчина</option>
              <option data-color="#f46d9a" value="Женщина">Женщина</option>
            </select>
            <script>
              const select = document.querySelector('.cl-hero__select-gender')
              console.log(select);

              select.addEventListener('change', (e) => {
                document.querySelector('.cl-hero__gender-icon').style.color = e.target.selectedOptions[0].dataset.color
              })
            </script>
          </div>
        </div>

        <div class="col-md-6 col-xl-12 pl-2 pr-2 flex-shrink-1 form-group flex-column align-items-start">
          <label for="find" class="cl-hero__label">Ищу</label>
          <select class="w-100 cl-hero__input custom-select" id="find">
            <option value="1" selected>Спутницу</option>
            <option value="2">Спутника</option>
            <option value="3">Друга</option>
            <option value="4">Подруга</option>
          </select>
        </div>

        <div class="col-md-6 col-xl-12 pl-2 pr-2 flex-shrink-1 form-group flex-column align-items-start">
          <label for="minAge" class="cl-hero__label">Возраст</label>
          <div class="d-flex gap-2 w-100">
            <select class="w-100 cl-hero__input custom-select" id="find">
              <option value="1" selected>18</option>
              <option value="2">19</option>
              <option value="3">20</option>
              <option value="4">21</option>
            </select>
            <select class="w-100 cl-hero__input custom-select" id="find">
              <option value="1" selected>53</option>
              <option value="2">54</option>
              <option value="3">55</option>
              <option value="4">56</option>
            </select>
          </div>
        </div>

        <div class="col-md-6 col-xl-12 pl-2 pr-2 flex-shrink-1 form-group flex-column align-items-start">
          <label for="country" class="cl-hero__label">Страна</label>
          <select class="w-100 cl-hero__input custom-select" id="country">
            <option value="1" selected>Коста-Рика</option>
            <option value="2">Чехия</option>
            <option value="3">Германия</option>
            <option value="4">Канада</option>
          </select>
        </div>

        <div class="col-xl-12 pl-2 pr-2 flex-shrink-1">
          <button type="submit" class="cl-hero__btn btn btn-secondary w-100 text-center">Подобрать партнера</button>
        </div>
      </form>
    </div>
  </div>
</section>

<div id="registerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">Присоединяйтесь к нам!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>Зарегистрируйтесь, чтобы получать доступ к дополнительным опциям.</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <a href="/register" class="btn btn-primary">Регистрация</a>
      </div>

    </div>
  </div>
</div>