<section class="cl-members">
  <div class="container">
    <div data-tabs class="cl-members__body d-flex flex-column align-items-center">

      <div class="row justify-content-center text-center text-md-left">
        <h2 class="cl-members__title text-center col-xl-8">Meet Our New Lovely Members</h2>
        <p class="cl-members__desc text-center col-xl-8">Learn from them and try to make it to this board. This will for
          sure boost
          you
          visibility and increase your
          chances to find you loved one.</p>
      </div>

      <div class="cl-members__nav d-flex justify-content-center w-100">
        <button data-tab-btn="1" class="cl-members__nav-btn btn btn-primary active">Все</button>
        <button data-tab-btn="2" class="cl-members__nav-btn btn btn-primary">Только онлайн</button>
        <button data-tab-btn="3" class="cl-members__nav-btn btn btn-primary">Только ВИП</button>
      </div>

      <ul data-tab="1" class="cl-members__grid row active">
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/01.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/02.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

                <div class="cl-members__card-dot ml-2"></div>
              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/03.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

                <div class="cl-members__card-dot ml-2"></div>
              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/04.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

                <div class="cl-members__card-dot ml-2"></div>
              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/05.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

                <div class="cl-members__card-dot ml-2"></div>
              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/06.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

                <div class="cl-members__card-dot ml-2"></div>
              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/07.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/08.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

                <div class="cl-members__card-dot ml-2"></div>
              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
      </ul>

      <ul data-tab="2" class="cl-members__grid row">
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/02.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

                <div class="cl-members__card-dot ml-2"></div>
              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/01.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/04.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

                <div class="cl-members__card-dot ml-2"></div>
              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/03.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

                <div class="cl-members__card-dot ml-2"></div>
              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/06.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

                <div class="cl-members__card-dot ml-2"></div>
              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/05.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

                <div class="cl-members__card-dot ml-2"></div>
              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/08.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

                <div class="cl-members__card-dot ml-2"></div>
              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/07.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
      </ul>

      <ul data-tab="3" class="cl-members__grid row">
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/07.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/01.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/08.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

                <div class="cl-members__card-dot ml-2"></div>
              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/04.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

                <div class="cl-members__card-dot ml-2"></div>
              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/03.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

                <div class="cl-members__card-dot ml-2"></div>
              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/02.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

                <div class="cl-members__card-dot ml-2"></div>
              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/06.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

                <div class="cl-members__card-dot ml-2"></div>
              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
        <li class="cl-members__card-body col-6 col-lg-3">
          <div class="cl-members__card">
            <img src="./img/members/05.png" alt="Woman">
            <div class="cl-members__card-info d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="cl-members__card-title">Елена, <span class="cl-members__card-age">28 </span> </span>
                  <svg class="cl-members__card-star" width="18" height="17" viewBox="0 0 18 17" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 0L11.645 5.35942L17.5595 6.21885L13.2798 10.3906L14.2901 16.2812L9 13.5L3.70993 16.2812L4.72025 10.3906L0.440492 6.21885L6.35497 5.35942L9 0Z"
                      fill="#FFA526" />
                  </svg>
                </div>

                <div class="cl-members__card-dot ml-2"></div>
              </div>
              <span class="cl-members__card-country">Азербайджан, Баку</span>
            </div>
          </div>
        </li>
      </ul>

      <button class="cl-members__btn-all btn btn-primary w-100">Смотреть все анкеты</button>
    </div>
  </div>

</section>